<h1>Reddit!</h1>

<%= link_to '+ New Post', posts_new_path %>

<ol>
<% @posts.each do |post| %>
  <li><%= link_to(post.user.username, "/users/#{post.user.id}") %>
  	<%= post.title %><%= " #{post.body}" %></li>
<% end %>
</ol>