
    header{
      text-align: center;
      background: url(http://i.imgur.com/BqLameF.jpg);     
      background-size: cover;
      background-position: center;

    }
    body {
      text-align: center;
      font-family: oswald;
      margin-top: -15px;
      margin-left: auto;
      margin-right: auto; 
      background-color: rgba(105,105,105, 1);
    }
    ul {
      background: rgba(255, 255, 255, .6);
    }
    li {
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
    }
    a {
      color: black;
    }
    h2 {
      font-size: 32px;
      margin: 15px 0 15px 0;
      background: rgba(255, 255, 255, .6);
    }
    p {
      font-size: 17px;
      color: black;
    }
    div {
      background: rgba(255,255,255,.6);
    }
    input {
      border: 0px;
      padding: 10px;
      font-size: 18px;
      margin: 10px 0 10px 0;
      position: relative;
      margin-bottom: -10px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    .left {
      position: relative;
      left: 60px;
      width: 40%
    }
    .right {
      float: right;
      margin-top: -525px;
      margin-right: 60px;
      margin-bottom: 50px;
      width: 40%
    }
    .description {
      width: 100%;
    }
    .mountains {
      width: 100%;
    }
